﻿@model ASP_One.Models.QuotesViewModel

@{
    ViewData["Title"] = "Home page";
    var qvm = ASP_One.Models.DataStore.GetRandomQuote();

}

<div class="text-center">
    <h1 class="display-4">Welcome To Quotes</h1>
    <div class="cont">
        "@qvm.Quote"
        <span>- @qvm.Author.</span>
    </div>
</div>
