﻿@model ASP_One.Models.QuotesViewModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ASP_One</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/Home/Register">Add Quote</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Quote" placeholder="Quote" />
    <input asp-for="Author" placeholder="Author Name" />
    <button type="submit">Publish</button>
</form>
